#ruffle-version-container {
    display: inline-block;
    vertical-align: middle;
}

@media only screen and (max-width: 800px) {
    #ruffle-version-container {
        display: block;
    }
}

@media only screen and (max-width: 600px) {
    #ruffle-version-label {
        display: block;
        margin-bottom: 5px;
    }
}
